.container {
  display: flex;
  justify-content: center;
  gap: 7vw;
  margin: 24px 0 24px 16px;
}

@media (max-width: 768px) {
  .arrow {
    font-size: 24px;
    color: var(--color-title);
  }
  .documentContainer {
    width: 290px;
    height: 375px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .arrow {
    font-size: 24px;
    color: var(--color-title);
  }
  .documentContainer {
    width: 490px;
    height: 55vh;
  }

  .container {
    margin-bottom: 10px;
  }
}

@media (min-width: 1024px) {
  .arrow {
    font-size: 35px;
    color: var(--color-title);
  }
  .documentContainer {
    height: 792px;
    width: 612px;
  }
}
