@media screen and (min-width: 1024px) {
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 12vw;
    height: 88vh;
    gap: 5vw;
  }
  .textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
  }
  .title {
    font-size: var(--desktop-subtitle);
    text-align: center;
    font-weight: 500;
    color: var(--color-title);
  }
  .text {
    font-size: var(--desktop-text);
    text-align: center;
    font-weight: 400;
    color: var(--color-title);
    margin-top: 24px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 92vh;
    gap: 2vw;
  }
  .textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 68vw;
  }
  .title {
    font-size: var(--desktop-subtitle);
    text-align: center;
    font-weight: 500;
    color: var(--color-title);
  }
  .text {
    font-size: var(--desktop-text);
    text-align: center;
    font-weight: 400;
    color: var(--color-title);
    margin-top: 24px;
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 88vh;
    gap: 1vh;
  }
  .textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 9vw;
  }
  .title {
    font-size: var(--mobile-subtitle);
    text-align: center;
    font-weight: 500;
    color: var(--color-title);
  }
  .text {
    font-size: var(--mobile-text);
    text-align: center;
    font-weight: 400;
    color: var(--color-title);
    margin-top: 24px;
    margin-bottom: 32px;
  }
}
