@media screen and (min-width: 1024px) {
  .restart {
    display: flex;
    justify-content: flex-end;
    border: 0.5px solid var(--color-border);
    border-top: none;
    height: 40px;
    width: 25vw;
    margin-bottom: 4vh;
    padding: 0 5px 5px 0;
    border-radius: 0 0 8px 8px;
  }
  .button {
    cursor: pointer;
    font-size: 32px;
    color: var(--color-title);
  }
}

@media (max-width: 768px) {
  .restart {
    display: flex;
    justify-content: flex-end;
    border: 0.5px solid var(--color-border);
    border-top: none;
    border-radius: 0 0 8px 8px;
    height: 30px;
    width: 83vw;
    margin-bottom: 4vh;
    padding: 0 5px 5px 0;
  }
  .button {
    font-size: 24px;
    color: var(--color-title);
  }
}
