.column {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-items: center;
  height: 90vh;
}

.list {
  overflow: auto;
  height: 70vh;
  width: 46vw;
}

.list::-webkit-scrollbar {
  width: 0.5rem;
}

.element {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  padding: 2.9vh 0;
  border-bottom: 1px solid var(--color-title);
  transition: background-color 0.15s ease-in-out;
}

.element:hover {
  background-color: rgba(152, 195, 218, 0.1);
  cursor: pointer;
}

.clients {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: var(--color-paragraph);
  font-size: var(--desktop-text);
  font-weight: 400;
  margin-bottom: 4vh;
}

.status {
  display: flex;
  align-items: center;
  gap: 1.5vw;
  justify-self: end;
  margin-right: 3vw;
}

.status p {
  color: var(--color-title);
  font-size: var(--desktop-status);
  font-weight: 400;
  width: 5vw;
}

.status svg {
  width: 32px;
  height: 32px;
}

.name {
  color: var(--color-title);
  font-size: var(--desktop-text);
  justify-self: start;
  margin-left: 2vw;
}

.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 12vw;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30vw;
  margin-top: 24px;
}

.dataColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.data {
  color: var(--color-title);
  font-size: var(--desktop-h3);
  font-weight: 400;
}

.dataTitle {
  color: black;
  font-size: var(--desktop-h3);
  font-weight: 400;
  margin-bottom: 4vh;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reject {
  color: #de5151;
  font-size: var(--desktop-h3);
  margin-right: 1.5vw;
  margin-left: 3vw;
}

.reject:hover {
  color: #e22424;
}

.accept {
  color: var(--color-background);
  background: var(--color-h3);
  font-size: var(--desktop-text);
  width: 9vw;
  height: 6vh;
  border-radius: 8px;
}

.accept:hover {
  background-color: #3577f3;
}

.cancel {
  color: var(--color-background);
  background-color: #e29624;
  font-size: var(--desktop-text);
  width: 11vw;
  height: 6.5vh;
  border-radius: 8px;
}

.cancel:hover {
  background-color: #d7a645;
}

.date {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.date svg {
  cursor: pointer;
  color: var(--color-title);
}

.date svg:hover {
  color: var(--color-h3);
}

.send {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.formContainer {
  width: 20.35vw;
}

.progress {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4vh;
}

.line {
  width: 8vw;
  height: 0.05vw;
  background-color: var(--color-h3);
}

.circle {
  width: 3.5vw;
  height: 3.5vw;
  border-radius: 50%;
  border: 1px solid var(--color-h3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.fullCircle {
  width: 3.5vw;
  height: 3.5vw;
  border-radius: 50%;
  background-color: var(--color-h3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  color: white;
  font-size: 40px;
}
