.column {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  justify-items: center;
  height: 90vh;
}

.list {
  overflow: auto;
  height: 70vh;
  width: 46vw;
  display: flex;
  flex-direction: column;
}

.list::-webkit-scrollbar {
  width: 0.5rem;
}

.element {
  display: grid;
  width: 45vw;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  padding: 2.9vh 0;
  border-bottom: 1px solid var(--color-title);
  transition: background-color 0.15s ease-in-out;
}

.element:hover {
  background-color: rgba(152, 195, 218, 0.1);
  cursor: pointer;
}

.clients {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: var(--color-paragraph);
  font-size: var(--desktop-text);
  font-weight: 400;
  margin-bottom: 4vh;
}

.status {
  display: flex;
  align-items: center;
  gap: 1.5vw;
  justify-self: end;
  margin-right: 3vw;
}

.status p {
  color: var(--color-title);
  font-size: var(--desktop-status);
  font-weight: 400;
  width: 5vw;
}

.status svg {
  width: 32px;
  height: 32px;
}

.name {
  color: var(--color-title);
  font-size: var(--desktop-text);
  justify-self: start;
}

.type {
  color: var(--color-paragraph);
  font-size: var(--desktop-status);
  justify-self: start;
}

.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 22vh;
  margin-left: 12vw;
  height: 75vh;
}

.shipmentFilter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 12vw;
}

.row {
  display: flex;
  align-items: center;
  gap: 20vw;
  margin-top: 12vh;
}

.dataColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.data {
  color: var(--color-title);
  font-size: var(--desktop-h3);
  font-weight: 400;
}

.dataTitle {
  color: black;
  font-size: var(--desktop-h3);
  font-weight: 400;
  margin-bottom: 4vh;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reject {
  color: #de5151;
  font-size: var(--desktop-h3);
  margin-right: 1.5vw;
  margin-left: 3vw;
}

.reject:hover {
  color: #e22424;
}

.accept {
  color: var(--color-background);
  background: var(--color-h3);
  font-size: var(--desktop-text);
  width: 9vw;
  height: 6vh;
  border-radius: 8px;
}

.accept:hover {
  background-color: #3577f3;
}

.cancel {
  color: var(--color-background);
  background-color: #e29624;
  font-size: var(--desktop-text);
  width: 11vw;
  height: 6.5vh;
  border-radius: 8px;
}

.cancel:hover {
  background-color: #d7a645;
}

.date {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.date svg {
  cursor: pointer;
  color: var(--color-title);
}

.date svg:hover {
  color: var(--color-h3);
}

.send {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.formContainer {
  width: 17vw;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5vw;
  margin: 10%;
}

.progress {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4vh;
}

.line {
  width: 8vw;
  height: 0.05vw;
  background-color: var(--color-h3);
}

.circle {
  width: 3.5vw;
  height: 3.5vw;
  border-radius: 50%;
  background-color: var(--color-background);
  border: 1px solid var(--color-h3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.fullCircle {
  width: 3.5vw;
  height: 3.5vw;
  border-radius: 50%;
  background-color: var(--color-h3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  color: white;
  font-size: 40px;
}

.rightArrowContainer {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 4vh;
}

.rightArrow {
  color: var(--color-h3);
  cursor: pointer;
}

.delete {
  font-size: 30px;
  margin-left: 24px;
}

.delete:hover {
  color: rgb(250, 97, 97);
  cursor: pointer;
  font-size: 30px;
}

.rightArrow:hover {
  color: var(--color-title);
}

.leftArrowContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4vh 1vw;
}

.leftArrowContainer button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: var(--desktop-h3);
  color: var(--color-h3);
  margin: 0;
}

.leftArrowContainer button:hover {
  color: var(--color-title);
}

.messageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  padding: 0 34vw;
}

.messageTitle {
  color: var(--color-title);
  font-size: var(--desktop-subtitle);
  font-weight: 400;
  text-align: center;
  margin-bottom: 4vh;
}

.messageText {
  color: var(--color-title);
  font-size: var(--desktop-h3);
  font-weight: 200;
  margin-bottom: 6vh;
  text-align: center;
}

.editMessage {
  color: var(--color-title);
  font-size: var(--desktop-text);
  text-align: center;
  margin-top: 3vh;
}

.messageButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}

.messageView {
  text-decoration: none;
  color: var(--color-h3);
  font-size: var(--desktop-h3);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.close {
  font-size: var(--desktop-h3);
  cursor: pointer;
}

.formInput {
  width: 20vw;
  margin-top: 1vh;
}

@keyframes anim {
  0% {
    color: var(--color-h3);
  }
  50% {
    color: var(--color-paragraph);
  }
  100% {
    color: var(--color-title);
  }
}
.animation {
  width: 10vw;
  font-size: var(--desktop-status);
  animation-name: anim;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.uploadTemplate {
  width: 10vw;
  font-size: var(--desktop-status);
  animation-name: anim;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.orangeButton {
  background-color: #e29624;
  color: var(--color-background);
  width: 6vw;
  height: 3vh;
  border-radius: 32px 32px 0px 0px;
}

.orangeButton:hover {
  background-color: #d7a645;
}

.redButton {
  background-color: #f35c5c;
  color: var(--color-background);
  width: 6vw;
  height: 3vh;
  border-radius: 32px 32px 0px 0px;
}

.redButton:hover {
  background-color: #d64545;
}

.templatesView {
  display: flex;
  flex-direction: column;
  height: 89vh;
  overflow: auto;
}
